version: '3'
services:
  homeassistant:
    container_name: homeassistant
    image: homeassistant/home-assistant:stable
    volumes:
      - /home/user/homeassist/config:/config
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
    network_mode: host
    environment:
      - TZ=Europe/Berlin
    cap_add:
      - NET_ADMIN
      - NET_RAW
  mosquitto:
    container_name: mosquitto
    image: eclipse-mosquitto
    restart: unless-stopped
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - /home/user/homeassist/mosquitto/config/mosquitto.conf:/mosquitto/config/mosquitto.conf
      - /home/user/homeassist/mosquitto/data:/mosquitto/data
      - /home/user/homeassist/mosquitto/log:/mosquitto/log
      - /etc/localtime:/etc/localtime:ro
  otbr-ha:
    image: ghcr.io/ownbee/hass-otbr-docker
    container_name: otbr-ha
    restart: unless-stopped
    privileged: true
    network_mode: host
    cap_add:
      - SYS_ADMIN
      - NET_ADMIN
    devices:
      - /dev/net/tun
    environment:
      DEVICE: "/tmp/ttyOTBR"
      BACKBONE_IF: eno1
      FLOW_CONTROL: 1
      FIREWALL: 1
      NAT64: 1
      BAUDRATE: 460800
      OTBR_REST_PORT: 16729
      OTBR_WEB_PORT: 16730
      AUTOFLASH_FIRMWARE: 0
      NETWORK_DEVICE: 192.168.0.5:6638 # IP of the SLZB-MR4U
    volumes:
      - /home/user/homeassist/otbr-ha:/var/lib/thread
      - /etc/localtime:/etc/localtime:ro
  matter-server:
    container_name: matter-server
    image: ghcr.io/home-assistant-libs/python-matter-server:stable
    restart: unless-stopped
    network_mode: host
    security_opt:
      - apparmor=unconfined
    volumes:
      - /home/user/homeassist/matter:/data
      - /etc/localtime:/etc/localtime:ro